<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>spring-boot-sample-data-jpa-h2</title>

    <link rel="stylesheet" href="../css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="../css/ smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="examples.css" type="text/css"/>

  <script src="http://code.jquery.com/jquery-1.8.0.js"></script>

  <script src="../js/lib/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="../js/lib/jquery.event.drag-2.2.js"></script>
  <script src="../js/lib/jquery.jsonp-2.4.min.js"></script>

  <script src="../js/slick.core.js"></script>
  <script src="../js/slick.remotemodel.js"></script>
  <script src="../js/slick.grid.js"></script>
    <script src="../js/slick.editors.js"></script>

</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>spring-boot-sample-data-jpa-h2</h1>
    <h2>Demo project for Spring Boot with JPA and persisting H2 database</h2>
  </div>

    <div style="width:700px;float:left;">
        <div class="grid-header" style="width:100%">

            <input type="text" id="txtSearch" value=""/>
        </div>
        <div id="myGrid" style="width:100%;height:600px;"></div>
        <div id="pager" style="width:100%;height:20px;"></div>
    </div>

    <div style="width:600px;float:left;">
        <div class="grid-header" style="width:100%">
            <label>Scores:</label>
        </div>
        <div id="myGrid2" style="width:100%;height:500px;"></div>
    </div>


    <script type="application/javascript" src="../js/app.js"></script>


</div>

</body>
</html>